/* Copyright 2013-2015 etc Chris Tabor. See https://github.com/christabor/css-progress-wizard/blob/master/LICENSE for details. */
@import url(https://fonts.googleapis.com/css?family=Lato);
/* line 15, ../sass/_progress-wizard.scss */
.flexer, .progress-indicator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 22, ../sass/_progress-wizard.scss */
.no-flexer, .progress-indicator.stacked {
  display: block;
}

/* line 25, ../sass/_progress-wizard.scss */
.no-flexer-element {
  -ms-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  flex: 0;
}

/* line 31, ../sass/_progress-wizard.scss */
.flexer-element, .progress-indicator > li {
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

/* line 37, ../sass/_progress-wizard.scss */
.progress-indicator {
  margin: 0;
  padding: 0;
  font-size: 140%;
  text-transform: uppercase;
  margin-bottom: 1em;
}
/* line 44, ../sass/_progress-wizard.scss */
.progress-indicator > li {
  list-style: none;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  text-overflow: ellipsis;
  color: #cececf;
  display: block;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  white-space: nowrap;
}
/* line 58, ../sass/_progress-wizard.scss */
.progress-indicator > li:hover {
  color: #818183;
}
/* line 62, ../sass/_progress-wizard.scss */
.progress-indicator > li:first-child .bubble:before {
  display: none;
}
/* line 63, ../sass/_progress-wizard.scss */
.progress-indicator > li .bubble {
  border-radius: 100%;
  width: 20px;
  height: 32px;
  display: block;
  border-top: 0px solid #fff;
  border-bottom: 0px solid #fff;
  border-left: 10px solid #fff;
  border-right: 10px solid #ffffff;
  box-sizing: border-box;
  padding: 12px;
  top: 12px;
}
/* line 81, ../sass/_progress-wizard.scss */
.progress-indicator > li .bubble:before {
  display: block;
  position: absolute;
  margin-top:17px;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #cececf;
}
/* line 90, ../sass/_progress-wizard.scss */
.progress-indicator > li .bubble:before {
  left: -50%;
  z-index: 9;
}
.progress-indicator > li .bubble:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 20px;
  background: #cececf;
  left: 50%;
  bottom: -8px;
  border-radius: 100%;
  margin-left: -25px;
  box-sizing: border-box;
  z-index: 99;
  border-right: 15px solid #fff;
  border-left: 15px solid #fff;
}
.progress-indicator .completed .bubble:after {
  background: #65b32e;
}
.progress-indicator .completed.acctive .bubble:after {
   background: #3d3c41;
 }
 .progress-indicator > li >a>p{font-size:25px;line-height: 28px;}
.progress-indicator .completed.acctive p {
  color: #3d3c41;
}
.progress-indicator .completed.acctive a:hover p{
  color: #3d3c41!important;
}
.progress-indicator .completed.acctive a:hover .bubble:after{
  background: #3d3c41!important;
}
/* line 97, ../sass/_progress-wizard.scss */
.progress-indicator > li.completed {
  color: #65b32e;
}
/* line 99, ../sass/_progress-wizard.scss */
.progress-indicator > li.completed .bubble {

  color: #65b32e;
}
/* line 9, ../sass/_progress-wizard.scss */
.progress-indicator > li.completed .bubble:before, .progress-indicator > li.completed .bubble:after {
  background-color: #65b32e;
  border-color: #fff;
  box-sizing: border-box;
}
.progress-indicator > li.completed .bubble:before{
  background-color: #65b32e;
}
.progress-indicator > li.completed:hover .bubble:before{
  background-color: #65b32e;
}
.progress-indicator > li.acctive .bubble:before{
  background-color: #65b32e;
}
/* line 115, ../sass/_progress-wizard.scss */
.progress-indicator > li a:hover .bubble {

}
.progress-indicator > li a{display: inline-block;}
/* line 9, ../sass/_progress-wizard.scss */
.progress-indicator > li a:hover .bubble:before, .progress-indicator > li a:hover .bubble:after {
  background-color: #cececf;
  box-sizing: border-box;
}
.progress-indicator > li.acctive a:hover .bubble:before{
 background-color: #65b32e;
}

  
.progress-indicator > li.completed a:hover .bubble:after{background-color: #65b32e!important;}
/* line 121, ../sass/_progress-wizard.scss */

/* line 124, ../sass/_progress-wizard.scss */
.progress-indicator > li.warning .bubble {
  background-color: #edb10a;
  color: #edb10a;
}
/* line 9, ../sass/_progress-wizard.scss */
.progress-indicator > li.warning .bubble:before, .progress-indicator > li.warning .bubble:after {
  background-color: #edb10a;
  border-color: #5a4304;
}
/* line 127, ../sass/_progress-wizard.scss */
.progress-indicator > li.info .bubble {
  background-color: #65b32e;
  color: #65b32e;
}
/* line 9, ../sass/_progress-wizard.scss */
.progress-indicator > li.info .bubble:before, .progress-indicator > li.info .bubble:after {
  background-color: #65b32e;
  border-color: #65b32e;
}
/* line 135, ../sass/_progress-wizard.scss */
.progress-indicator.stacked > li {
  text-indent: -10px;
  text-align: center;
  display: block;
}
/* line 140, ../sass/_progress-wizard.scss */
.progress-indicator.stacked > li .bubble:before,
.progress-indicator.stacked > li .bubble:after {
  left: 50%;
  margin-left: -1.5px;
  width: 3px;
  height: 100%;
}
/* line 147, ../sass/_progress-wizard.scss */
.progress-indicator.stacked .stacked-text {
  position: relative;
  z-index: 10;
  top: 0;
  margin-left: 60% !important;
  width: 45% !important;
  display: inline-block;
  text-align: left;
  line-height: 1.2em;
}
/* line 157, ../sass/_progress-wizard.scss */
.progress-indicator.stacked > li a {
  border: none;
}
/* line 162, ../sass/_progress-wizard.scss */
.progress-indicator.stacked.nocenter > li .bubble {
  margin-left: 0;
  margin-right: 0;
}
/* line 166, ../sass/_progress-wizard.scss */
.progress-indicator.stacked.nocenter > li .bubble:before,
.progress-indicator.stacked.nocenter > li .bubble:after {
  left: 10px;
}
/* line 170, ../sass/_progress-wizard.scss */
.progress-indicator.stacked.nocenter .stacked-text {
  width: auto !important;
  display: block;
  margin-left: 40px !important;
}

@media handheld, screen and (min-width: 595px) and (max-width: 750px) {
  /* line 179, ../sass/_progress-wizard.scss */
  .progress-indicator {
    font-size: 120%;
  }

  /* line 182, ../sass/_progress-wizard.scss */
  .rngsec {
    width: 100%;
  }
}
@media handheld, screen and (min-width: 470px) and (max-width: 595px) {
  /* line 185, ../sass/_progress-wizard.scss */
  .progress-indicator {
    font-size: 90%;
  }
  /* line 187, ../sass/_progress-wizard.scss */
  .progress-indicator .rngsec {
    width: 100%;
  }
}
@media handheld, screen and (max-width: 470px) {
  /* line 191, ../sass/_progress-wizard.scss */
  .progress-indicator {
    font-size: 60%;
  }
  /* line 193, ../sass/_progress-wizard.scss */
  .progress-indicator .rngsec {
    width: 100%;
  }
}
/* line 1, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* line 5, ../sass/_normalize.scss */
.f-step {
  margin-top: 40px;
}

/* line 8, ../sass/_normalize.scss */
.slt-sldr-sec {
  width:46%;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
}
/* line 12, ../sass/_normalize.scss */
.slt-sldr-sec .l, .slt-sldr-sec .r {
  width: 8%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  position: absolute;
  top: 0;
}
/* line 19, ../sass/_normalize.scss */
.slt-sldr-sec .l {
  left: 0;
}
/* line 19, ../sass/_normalize.scss */
.slt-sldr-sec .r {
  right: 0;
}


/* line 59, ../sass/_normalize.scss */
.film_roll_prev, .film_roll_next {
  background: none !important;
  border: none !important;
  opacity: 1 !important;
  text-decoration: none;
  color: #000 !important;
}

/* line 66, ../sass/_normalize.scss */
.btn-primary1, .btn-primary2 {
  background-image: url('../img/arro.png?1453194259');
  text-decoration: none;
  padding: 10px 5px;
  font-size: 0;
  width: 10px;
  height: 22px;
  position: absolute;
  top: 50%;
  margin-top: -11px;
}

/* line 77, ../sass/_normalize.scss */
.btn-primary2 {
  background-position: 10px 0;
  right: -25px;
}

/* line 81, ../sass/_normalize.scss */
.btn-primary1 {
  left: -25px;
}

/* line 83, ../sass/_normalize.scss */
.s-btn-sec {
  text-align: center;
}
.result-cl-sec{
	margin-top:50px;
}
/* line 86, ../sass/_normalize.scss */
.progress-indicator > li a:hover .bubble:after{
	background-color:#cececf!important;
}

.s-btn-sec h2 {
  font-family: 'Lato', sans-serif;
  color: #8e8e90;
  font-weight: 300;
}
/* line 92, ../sass/_normalize.scss */
.s-btn-sec .gbtn {
  padding: 7px 20px;
  background-color: #d8d8d9;
  color: #504f54;
  border: none;
  margin: 0 5px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  text-align: center;
}
/* line 100, ../sass/_normalize.scss */
.s-btn-sec .gbtn.active {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  background-color: #504f54;
  color: #fff;
}

/* line 108, ../sass/_normalize.scss */
.srv-lsdr {
  padding: 15px 0;
  margin-bottom: 20px;
}

/* line 112, ../sass/_normalize.scss */
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 117, ../sass/_normalize.scss */
.im-sd-sec {
  position: relative;
}

/* line 120, ../sass/_normalize.scss */
.sm-img-cl {
  position: absolute;
  right: 15px;
  bottom: 5px;
}
/* line 124, ../sass/_normalize.scss */
.sm-img-cl .blk-im {
  width: 80px;
  border: 2px solid #adadac;
  display: inline-block;
  bottom: 0;
  cursor: pointer;
  margin-right: 5px;
}

/* line 132, ../sass/_normalize.scss */
.mtx-sec {
  background-color: #e6e6e6;
  padding: 10px 20px;
}
/* line 135, ../sass/_normalize.scss */
.mtx-sec h2 {
  color: #504f53;
  margin-top: 0;
}

/* line 140, ../sass/_normalize.scss */
.result-cl-sec {
  margin-bottom: 25px;
}

/* line 143, ../sass/_normalize.scss */
.dtext-m-sec {
  background-color: #e6e6e6;
  padding: 15px 30px;
}
/* line 146, ../sass/_normalize.scss */
.dtext-m-sec p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #3d3c41;
}
/* line 151, ../sass/_normalize.scss */
.dtext-m-sec h2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #3d3c41;
}

/* line 157, ../sass/_normalize.scss */
.ltx-msec {
  margin-bottom: 0px;
}
/* line 158, ../sass/_normalize.scss */
.ltx-msec h2 {
  margin-top: 0;
}

/* line 160, ../sass/_normalize.scss */
.rangeslider__handle:after {
  display: none !important;
}

/* line 163, ../sass/_normalize.scss */
.rangeslider__handle {
  height: 26px !important;
}

/* line 164, ../sass/_normalize.scss */
.rangeslider--horizontal .rangeslider__handle {
  top: -11px !important;
  background-color: #65b32e;
  border: none;
  width: 4px;
}

/* line 170, ../sass/_normalize.scss */
.rngsec span {
  margin-top: 10px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #3d3c41;
}
/* line 177, ../sass/_normalize.scss */
.rngsec span.alr {
  float: right;
}

/* line 181, ../sass/_normalize.scss */
.rngsec {
  margin-bottom: 30px;
  width: 90%;
}
/* line 184, ../sass/_normalize.scss */
.rngsec h2 {
  font-weight: 300!important;
  font-family: 'Lato', sans-serif !important;
  font-size: 26px;
  color: #3d3c41;
  margin-top: 0;
  margin-bottom: 15px;
}

@media handheld, screen and (max-width: 470px) {
  /* line 194, ../sass/_normalize.scss */
  .rngsec {
    width: 100%;
  }
}
/* line 198, ../sass/_normalize.scss */
.al-rngm-sec {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 202, ../sass/_normalize.scss */
.r-inp-sec {
  display: block;
  margin-top: 30px;
  margin-bottom: 25px;
}
/* line 206, ../sass/_normalize.scss */
.r-inp-sec input[type="text"] {
  width: 65px;
  border: 1px solid #555555;
  padding: 8px;
  display: inline-block;
  height: 36px;
}
/* line 212, ../sass/_normalize.scss */
.r-inp-sec span {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #3d3c41;
  vertical-align: bottom;
}
/* line 220, ../sass/_normalize.scss */
.r-inp-sec .rthtx {
  display: inline-block;
  float: right;
}
/* line 223, ../sass/_normalize.scss */

/* line 230, ../sass/_normalize.scss */
.r-inp-sec .rthtx p {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #98989a;
  margin: 0;
}

@media handheld, screen and (min-width: 768px) and (max-width: 991px) {
  /* line 239, ../sass/_normalize.scss */
  .r-inp-sec .rthtx h2 {
    font-size: 16px;
  }
}
@media handheld, screen and (max-width: 370px) {
  /* line 244, ../sass/_normalize.scss */
  .s-btn-sec .gbtn button {
    padding: 6px 12px;
  }
}
@media handheld, screen and (max-width: 767px) {
  /* line 249, ../sass/_normalize.scss */
  .im-sd-sec {
    margin-bottom: 20px;
  }
}
/* line 253, ../sass/_normalize.scss */
.g5cls {
  margin: 10px 0;
}

/* line 259, ../sass/_normalize.scss */
.bx-wrapper .bx-next {
  background: url('../img/arro.png?1453194259') 12px 0 !important;
  right: -13px !important;
}

/* line 263, ../sass/_normalize.scss */
.bx-wrapper .bx-prev {
  background: url('../img/arro.png?1453194259') 0px 0 !important;
  left: -14px !important;
}

/* line 267, ../sass/_normalize.scss */
.bx-wrapper .bx-controls-direction a {
  width: 12px !important;
  height: 22px !important;
}

/* line 271, ../sass/_normalize.scss */
.bx-viewport {
  height: auto !important;
  border: none !important;
  box-shadow: none !important;
  left: 0 !important;
}
/* line 276, ../sass/_normalize.scss */
.bx-viewport .bxslider {
  margin: 0;
}
/* line 279, ../sass/_normalize.scss */
.bx-viewport li div {
  padding: 0 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
/* line 284, ../sass/_normalize.scss */
.bx-viewport li div.active {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  z-index: 9;
}
/* line 289, ../sass/_normalize.scss */
.bx-viewport li div.active img {
  width: 100%;
}
/* line 293, ../sass/_normalize.scss */
.bx-viewport li div.active span {
  background: #3d3c41;
  color: #ffffff;
}
/* line 297, ../sass/_normalize.scss */
.bx-viewport li div span {
  background: #e6e6e6;
  text-align: center;
  display: block;
  padding: 3px;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.wpb_terms{ max-width:116px!important;width:116px!important;}
.wpb_terms span{width: 105px!important;word-break: break-all;
  word-wrap: break-word;}

@media handheld, screen and (min-width: 467px) and (max-width: 768px) {
  /* line 316, ../sass/_normalize.scss */


  /* line 319, ../sass/_normalize.scss */
  .bx-viewport li div.active {
    /*padding: 0 16px;*/
  }

  /* line 322, ../sass/_normalize.scss */
  .bx-viewport li div span {
    font-size: 14px;
  }

  /* line 325, ../sass/_normalize.scss */
  .slt-sldr-sec {
    width: 70%;
  }
}
@media handheld, screen and (min-width: 240px) and (max-width: 466px) {
  /* line 330, ../sass/_normalize.scss */
  .bx-viewport li div {
    padding: 0px;
  }

  /* line 333, ../sass/_normalize.scss */
  .bx-viewport li div.active {
   /*padding: 0 10px;*/
  }

  /* line 336, ../sass/_normalize.scss */
  .bx-viewport li div span {
    font-size: 12px;
  }

  /* line 339, ../sass/_normalize.scss */
  .slt-sldr-sec {
    width:75%;
  }
}
/* line 343, ../sass/_normalize.scss */
.progress-indicator p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
/*** Custom CSS*/
.wpb_aldnn{ height:0; opacity: 0; overflow: hidden;}
.wpb_tabs{-webkit-transition: all 0.5s;  -moz-transition: all 0.5s;  -o-transition: all 0.5s;}
.wpb_onedblk{height: auto; opacity: 1;}
.progress-indicator > li p{cursor: pointer; color: #cccccc;}


.rng-sl-sec .ui-slider-horizontal .ui-slider-handle {
  margin-left: -1px!important;
  top: -17px!important;
  border: none!important;
  background: #65b32e!important;
  height: 20px;
}
.ui-slider .ui-slider-handle::before,.ui-slider .ui-slider-handle::after{
  display: none!important;}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl,
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br,
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr,
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
  border-radius: 0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  border-top-right-radius:0px;
  border-top-right-radius:0px;
}
.ui-widget-header{
  background: #4a494e;
}
.ui-slider .ui-slider-range{border-radius: 0px!important;}
.ui-slider-handle{
  border: medium none;
  top: -11px !important;
  width: 4px!important;}

.wpb-rngslct{
  border: 1px solid #444;
  padding: 0 8px;
  font-size: 14px;
  appearance:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  padding-right: 20px;
  position: relative;
  background: url("../img/selctaro.png") right no-repeat;
  margin-left: 6px;
  height: 36px;
}
.wpb-rngslct:after{
  content: "";
  position: absolute;
  right: 5px;
  height: 0;
  width: 0;
  border-right:10px solid transparent;
  border-left:10px solid transparent;
  border-bottom:10px solid transparent;
  border-top:100px solid #ccc;
}
.wpb_hidden{display: none;}
.gbtn{margin-top: 15px;}

.wpb-body-product #main.clearfix:after,.wpb-body-product #main.clearfix::before{
  display: block!important;
}

.wpb_carousel{
  overflow: hidden;
  padding: 10px 0;
}
/* line 24, ../sass/_normalize.scss */
.wpb_carousel .film_roll_child {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
/* line 28, ../sass/_normalize.scss */
.wpb_carousel .film_roll_child.active {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  z-index: 9;
}
/* line 33, ../sass/_normalize.scss */
.wpb_carousel .film_roll_child.active span {
  background: #3d3c41;
  color: #ffffff;
}
/* line 38, ../sass/_normalize.scss */
.wpb_carousel .film_roll_child span {
  background: #e6e6e6;
  text-align: center;
  display: block;
  padding: 3px 5px;
  font-size: 15px;
  font-weight: 300;
  margin: 0 8px 0 8px;
  font-family: 'Lato', sans-serif;
}
/* line 46, ../sass/_normalize.scss */
.wpb_carousel .film_roll_child img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 8px;
  height: 70px;
}
/* line 54, ../sass/_normalize.scss */
.wpb_carousel .film_roll_wrapper {
  overflow: visible !important;
}

/* line 58, ../sass/_normalize.scss */
.film_roll_pager {
  margin-top: 10px;
}

/* line 59, ../sass/_normalize.scss */
.film_roll_prev, .film_roll_next {
  background: none !important;
  border: none !important;
  opacity: 1 !important;
  text-decoration: none;
  color: #000 !important;
}
/*.wpb-body-product .entry-summary{display: none;}*/


.table-responsive{min-height: .01%;
  overflow-x: auto;}

table{
  width: 100%;
}
td{padding: 4px 0!important;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height:inherit;
  vertical-align: top;
  border: none !important;
}

tr.grn{color: #85c25c;}

.mtx-sec h6{
  font-size: 20px;
  font-family: 'Lato', sans-serif!important;
  font-weight: 700;
  margin: 0;
  color: #444448;
}
.mtx-sec h2{
  font-size: 20px;
  font-family: 'Lato', sans-serif!important;
  font-weight: 600!important;
  margin: 0;
  color: #3d3c41 !important;
}
.mtx-sec h2{font-weight: 600; margin-bottom: 30px;}
.mtx-sec h6>span{margin-left: 15px;}
.mtx-sec p{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 5px 0;
  color: #969697;
}
.mtx-sec{width: 100%;}
.mtbl{
  margin-bottom: 22px;
}
.m-cntinu{
  display: block;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
}
.m-cntinu a{
  display: inline-block;
  padding:13px 58px;
  color: #ffffff!important;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background: #65b32e;
  position: relative;
  text-decoration: none;
}
.m-cntinu a:after{
  position: absolute;
  left: 0;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.m-cntinu a:hover:after{ width: 92%;border: 1px solid #ffffff; height: 80%; left:4%; top: 10%;}
.mtx-sec {
  background-color: #e6e6e6;
  padding: 18px 25px;
}
@media handheld, screen and (min-width: 992px) and (max-width: 1199px) {
  .mtbl td{padding: 0!important;}
  .m-cntinu{margin: 9px;}
  .m-cntinu a {display: block;padding: 13px 45px;}
  .mtx-sec h6, .mtx-sec h2{font-size: 17px;}
}
@media handheld, screen and (min-width: 768px) and (max-width: 991px) {
  .result-cl-sec .col-sm-4,.result-cl-sec .col-sm-8{width: 100%;}
  .result-cl-sec .col-sm-8{margin-bottom: 25px;}
}
@media handheld, screen and (max-width:360px) {
  .mtx-sec h6, .mtx-sec h2{font-size: 17px;}
}
@media screen and (max-width: 767px){
.result-cl-sec .col-sm-8{ width: 100%; float: none;}
  .m-cntinu a {padding: 14px 40px;}
}
.r-inp-sec .rthtx {text-align: right;}
.f-step{margin-bottom: 50px;}
.progress-indicator > li.completed p{color: #3d3c41;}

#wpb_price_html .price{display:inline-block !important;}

@media handheld, screen and (min-width:455px) and (max-width:767px) {
  .r-inp-sec .rthtx {
    width:260px!important;
  }
}
@media handheld, screen and (max-width:454px){
  .r-inp-sec .rthtx {
    width:260px!important;
    margin-top: 20px;
  } .r-inp-sec{margin-bottom: 60px!important; text-align:left;}
  .s-btn-sec .gbtn button{margin: 0 3px 8px 3px;}
  .r-inp-sec .rthtx{ width: 100%!important; text-align: left;}
  .r-inp-sec .wbp_slider{width: 80%!important;}
  .rngsec{margin-bottom:0px;}
  .r-inp-sec{margin-bottom: 45px!important;}
  .wpb-rngslct{width: 65%!important;}
  .sm-img-cl .blk-im{width: 50px;}
}
@media screen and (max-width: 767px) {
  .col-sm-8,.col-sm-4,.col-sm-12,.col-sm-7,.col-sm-5{
    width: 100%!important;
  }
  .progress-indicator > li  a  p{ font-size: 13px;}
}
@media handheld, screen and (min-width:900px) and (max-width: 991px) {
  .r-inp-sec .rthtx {
    width: 190px;
  }
  .progress-indicator > li  a  p{ font-size: 16px;}
}
@media handheld, screen and (min-width:768px) and (max-width: 899px) {
  .r-inp-sec .rthtx {
    width: 146px;
    text-align: right!important;
  }
  .progress-indicator > li  a  p{ font-size: 18px;}
}
@media handheld, screen and (min-width:992px) and (max-width:1199px) {
  .r-inp-sec .rthtx {
    width: 238px;
  }
}
@media handheld, screen and (min-width:1200px) {
 
}
.sizeOptions{font-size: 12px;}
.wpb_info_box_icon{display: block !important;}
.wpb_extra_options_navigation{width: 40%;margin: 0 auto; position: relative}
.wpb_hidden123{opacity: 0;height: 0px;width: 0px;overflow: hidden;}
#wpb_price_html .price .woocommerce-price-suffix{display: none!important;}
@-webkit-keyframes spin{100%{-webkit-transform:rotate(360deg)}}
@-moz-keyframes spin{100%{-moz-transform:rotate(360deg)}}
@keyframes spin{100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}#im-sd-sec .blockUI.blockOverlay::before {    height:1em;width:1em;position:absolute;top:50%;left:50%;margin-left:-.5em;margin-top:-.5em;display:block;content:"";-webkit-animation:spin 1s ease-in-out infinite;-moz-animation:spin 1s ease-in-out infinite;animation:spin 1s ease-in-out infinite;background:url(../img/loader.svg) center center;background-size:cover;line-height:1;text-align:center;font-size:2em;color:rgba(0,0,0,.75)}

.wpb_reset_button{
  display: inline-block;
  float: right;
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;}
table{margin-bottom: 0!important;}
.slt-sldr-sec h2{text-align: center;font-family: 'Lato', sans-serif!important; font-weight:300!important;}
.rthtx { text-align: left;}
.rthtx h2{display: inline-block;text-align: right;white-space: nowrap;}
.r-inp-sec .wbp_slider{ width: 115px; border-color: #444;height: 36px;font-size: 16px;}
.rthtx>h2{margin-bottom:0px!important; font-family: 'Lato', sans-serif!important;font-weight: 300!important;line-height: 24px;}
.shipping_de.shipping_de_string{margin-bottom:0px!important;}
.m-cntinu{margin-top:30px;}
.shipping_de.shipping_de_string span,#wpb_german_market,#wpb_german_market .woocommerce_de_versandkosten,.woocommerce-de_price_taxrate{font-size:16px; /*line-height: 16px;*/}
#wpb_german_market{margin-top: 2px;}
#wpb_continue_button{white-space: nowrap; text-align:center;}
.wpb_selections{box-sizing: border-box; width: 100%;}
.wpb_selections .left,.wpb_selections .right{font-size: 16px;font-family: 'Lato', sans-serif!important; font-weight: 400; color:#3d3c41; line-height: 24px;}
.wpb_selections .left{width:60%;float: left; box-sizing: border-box;}
.wpb_selections .right{width:40%;float: left;box-sizing: border-box;}
/*.progress-indicator > li:first-child{text-align: left!important;}*/
/*.progress-indicator > li:last-child{text-align: right!important;}*/
/*.progress-indicator > li:first-child .bubble:after{left: 0!important;}*/
/*.progress-indicator > li:last-child .bubble:after{right: 0!important;}*/
#wpb_price_html span{ color: #3d3c41; font-size: 20px!important;}
#wpb_step_tab{margin-top:62px;}
.woocommerce_de_versandkosten{display: inline-block;}
.wpb_disabled{opacity: 0.3;}
#wc-product-builder a{outline: 0;}
#wc-product-builder a:active, a:focus {outline: 0;}
.wpb_reset_button .fa{font-size:12px; margin-right:5px;}
.extraCarousel .btn-primary1,.extraCarousel .btn-primary2{top: 76% !important;}